In [ ]:
# 데이터 프레임을 df1_table로 만듬
# df1.createOrReplaceTempView("df1_table")
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
# 파이썬 설치 위치 지정
import os
os.environ['PYSPARK_PYTHON']='/home/user1/anaconda3/bin/python3'
os.environ['PYSPARK_DRIVER_PYTHON']='/home/user1/anaconda3/bin/python3'

In [ ]:
# 스파크 객체 생성 
spark = SparkSession.builder.master("local[*]") \
    .enableHiveSupport().appName("hive01") \
    .config("spark.sql.warehouse.dir","/user/hive/warehouse") \
    .config("spark.datasource.hive.metastore.uris","hdfs://192.168.0.19:9000") \
    .getOrCreate()

In [ ]:
# 테이터 프레임 생성
df1 = spark.createDataFrame([(1,'a',10),(2,'b',20),(3,'c',30)]).toDF("id","name","age")
df1.printSchema()
df1.show()

In [ ]:
df1.createOrReplaceTempView("table1")  # 데이터 프레임을 table1로 만듬
spark.sql("SELECT id, name FROM table1").show()

In [ ]:
spark.sql("create database db06") # DB 생성

In [ ]:
# 데이터 프레임으로 테이블 생성
spark.sql("create table db06.t01 as select * from table1")

In [ ]:
# 테이블 내용 가져옴.
spark.sql("select * from db06.t01 where age>20").show()