#  문제 정의 

농구선수의 경기 기록을 바탕으로 그선수의 포지션을 예측

## 데이터 수집

In [2]:
import pandas as pd

In [6]:
path = './input/basketball_stat.csv'
df = pd.read_csv(path)

In [7]:
df.head()

           Player Pos   3P   2P  TRB  AST  STL  BLK
0    Alex Abrines  SG  1.4  0.6  1.3  0.6  0.5  0.1
1    Steven Adams   C  0.0  4.7  7.7  1.1  1.1  1.0
2   Alexis Ajinca   C  0.0  2.3  4.5  0.3  0.5  0.6
3  Chris Andersen   C  0.0  0.8  2.6  0.4  0.4  0.6
4     Will Barton  SG  1.5  3.5  4.3  3.4  0.8  0.5

In [9]:
df.columns, df.shape

(Index(['Player', 'Pos', '3P', '2P', 'TRB', 'AST', 'STL', 'BLK'], dtype='object'),
 (100, 8))

In [8]:
# 사본 만들기 
df_player = df.iloc[:,:]
df_player

              Player Pos   3P   2P   TRB  AST  STL  BLK
0       Alex Abrines  SG  1.4  0.6   1.3  0.6  0.5  0.1
1       Steven Adams   C  0.0  4.7   7.7  1.1  1.1  1.0
2      Alexis Ajinca   C  0.0  2.3   4.5  0.3  0.5  0.6
3     Chris Andersen   C  0.0  0.8   2.6  0.4  0.4  0.6
4        Will Barton  SG  1.5  3.5   4.3  3.4  0.8  0.5
..               ...  ..  ...  ...   ...  ...  ...  ...
95    Nikola Vucevic   C  0.3  6.1  10.4  2.8  1.0  1.0
96       Dwyane Wade  SG  0.8  6.2   4.5  3.8  1.4  0.7
97      Dion Waiters  SG  1.8  4.3   3.3  4.3  0.9  0.4
98  Hassan Whiteside   C  0.0  7.0  14.1  0.7  0.7  2.1
99      Lou Williams  SG  2.0  3.3   2.5  3.0  1.0  0.2

[100 rows x 8 columns]

In [10]:
df_player.columns, df_player.shape

(Index(['Player', 'Pos', '3P', '2P', 'TRB', 'AST', 'STL', 'BLK'], dtype='object'),
 (100, 8))

In [ ]:
# Player
# Pos (SG, C)
# 3P(3점슛)
# 2P(2점슛)
# TRB(리바운드)
# AST(어시스트)
# STL(스틸)
# BLK(블로킹)

# 데이터 다듬기

In [ ]:
# 변별력이 없는 특징을 제거 
df_player

In [ ]:
# 데이터 나누기 
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_player, test_size=0.2)

In [ ]:
train.shape[0]

In [ ]:
test.shape[0]

# 정리된 데이터를 저장

In [ ]:
import pickle
path =  './output/basketball_stat.csv' 

with open(path ,'wb') as train_data: 
    pickle.dump(train, train_data)
    
with open(path ,'wb') as test_data: 
    pickle.dump(train, test_data)

## [ravel 메소드 설명](https://rfriend.tistory.com/349)