In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# 시각
import matplotlib.pyplot as plt
%matplotlib inline

# 워닝 방지
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_retail = pd.read_csv('./output//OnlineRetailClean.csv')

In [3]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     397884 non-null  int64
 1   InvoiceNo      397884 non-null  int64
 2   StockCode      397884 non-null  object
 3   Description    397884 non-null  object
 4   Quantity       397884 non-null  int64
 5   InvoiceDate    397884 non-null  object
 6   UnitPrice      397884 non-null  float64
 7   CustomerID     397884 non-null  int64
 8   Country        397884 non-null  object
 9   CheckoutPrice  397884 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 30.4+ MB

In [4]:
df_retail['InvoiceDate'] = pd.to_datetime

- 전체 매출 
- 국가별 매출
- 월별 매출 
- 요일별 매출 
- 시간별 매출

In [6]:
# 전체 매출 
total_revenue = df_retail['CheckoutPrice'].sum()
total_revenue

8911407.904

In [ ]:
# 국가별 매출