In [1]:
import pandas as pd 
import numpy as np
import re

In [2]:
# 내가 월하고싶은지 
# 인구수 대비 시시티비 대수 확인하고 싶음 
# 그럼 필요한건 => 지역, cctv대수 , 설치 목적, 소재지 지번주소

In [3]:
# 사상구, 사하구, 서구만 
saha_cctv= pd.read_csv('../data/Busan_sahagu_cctv.csv', encoding='euc-kr')
sasang_cctv= pd.read_csv('../data/Busan_sasanggu_cctv.csv', encoding='euc-kr')
seo_cctv= pd.read_csv('../data/Busan_seogu_cctv.csv', encoding='euc-kr')

# 사하구
saha_cctv.head(3) 
# 사상구
sasang_cctv.head(3) 
# 서구
seo_cctv.head(3)

,관리기관명,소재지도로명주소,소재지지번주소,설치목적구분,카메라대수,카메라화소수,촬영방면정보,보관일수,설치년월,관리기관전화번호,위도,경도,데이터기준일자
0,부산광역시 서구청,부산광역시 서구 고운들로 24 (부용동2가 61-2),부산광역시 서구 부용동2가 61-2,다목적,1,200,360도 전방면,30,2009-02,051-240-4125,35.105950,129.018768,2019-09-10
1,부산광역시 서구청,부산광역시 서구 대영로86번길 47 (동대신동1가 316-4),부산광역시 서구 동대신동1가 316-4,다목적,1,200,360도 전방면,30,2009-02,051-240-4125,35.109040,129.021735,2019-09-10
2,부산광역시 서구청,부산광역시 서구 보수대로194번길 13 (동대신동2가 64),부산광역시 서구 동대신동2가 64,다목적,1,200,360도 전방면,30,2009-02,051-240-4125,35.113007,129.021825,2019-09-10

In [4]:
# 연습
tmp = saha_cctv.iloc[:, [2,3,4]]
tmp1 = seo_cctv.iloc[:, [2,3,4]]
tmp2 = sasang_cctv.iloc[:, [2,3,4]]

# print(tmp)
# print(tmp1)
# print(tmp2)

In [5]:
saha_cctv = saha_cctv.iloc[:, [2,3,4]]
seo_cctv = seo_cctv.iloc[:, [2,3,4]]
sasang_cctv = sasang_cctv.iloc[:, [2,3,4]]

In [6]:
# 사상구 
sasang_cctv.head()

  소재지지번주소 설치목적구분  카메라대수
0     NaN    다목적      1
1     NaN    다목적      1
2     NaN    다목적      1
3     NaN    다목적      1
4     NaN    다목적      1

In [7]:
# 열데이터 추출 
# print(saha_cctv['소재지지번주소'])

tmp = saha_cctv['소재지지번주소']
# tmp.info()

# tmp.dtypes
print(type(tmp))
# tmp.head(10)

<class 'pandas.core.series.Series'>

In [8]:
# 주소
add = saha_cctv.소재지지번주소.str.split(' ')

# 봅아야지 
add_sasang = sasang_cctv.소재지지번주소.str.split(' ')

print(add[2])

['부산광역시', '사하구', '괴정1동', '779-4']

In [9]:
print(add_sasang[100])

['부산광역시', '사상구', '괘법동', '546-12']

In [10]:
# sasang_cctv.소재지지번주소.value_counts(dropna = False)

In [11]:
gu_val = add.str.get(1)
print(gu_val)

0      사하구
1      사하구
2      사하구
3      사하구
4      사하구
5      사하구
6      사하구
7      사하구
8      사하구
9      사하구
10     사하구
11     사하구
12     사하구
13     사하구
14     사하구
15     사하구
16     사하구
17     사하구
18     사하구
19     사하구
20     사하구
21     사하구
22     사하구
23     사하구
24     사하구
25     사하구
26     사하구
27     사하구
28     사하구
29     사하구
      ...
633    사하구
634    사하구
635    사하구
636    사하구
637    사하구
638    사하구
639    사하구
640    사하구
641    사하구
642    사하구
643    사하구
644    사하구
645    사하구
646    사하구
647    사하구
648    사하구
649    NaN
650    NaN
651    사하구
652    사하구
653    사하구
654    NaN
655    사하구
656    NaN
657    NaN
658    사하구
659    사하구
660    사하구
661    사하구
662    사하구
Name: 소재지지번주소, Length: 663, dtype: object

In [12]:
add[2]

['부산광역시', '사하구', '괴정1동', '779-4']

In [13]:
# dong_val = add.str.get(2)
# print(dong_val)

In [14]:
# dong_val = dong_val.str[:2]
# print(dong_val)

In [15]:
# 사상구
gu_val = add_sasang.str.get(1)


dong_val = add_sasang.str.get(2)
dong_val = dong_val.str[:2]
print(gu_val,'='*50,'\n',dong_val)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
      ...
404    사상구
405    사상구
406    사상구
407    사상구
408    사상구
409    사상구
410    사상구
411    사상구
412    사상구
413    사상구
414    사상구
415    사상구
416    사상구
417    사상구
418    사상구
419    사상구
420    사상구
421    사상구
422    사상구
423    사상구
424    사상구
425    사상구
426    사상구
427    사상구
428    사상구
429    사상구
430    사상구
431    사상구
432    사상구
433    사상구
Name: 소재지지번주소, Length: 434, dtype: object ==================================================
 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
      ...
404     감전
405     감전
406     모라
407     주례
408     엄궁
409     모라
410     괘법
411     학장
412     주례
413     주례
414     주례
415     괘법
416     삼락
417     감전
418     삼락
419     괘법
420     괘법
421     감전
422     감전
423     주례
424     주례
425     삼락
426     주례
427     괘법
428     모라
429     주례
430     감전
431     모라
432     엄궁
433     학장
Name: 소재지지번주소, Length: 434, dtype: object

In [16]:
# 사상 - dum
# dong_val = add1.str.get(2)
# dong_val = dong_val.str[:2]
# print(dong_val)

In [17]:
sasang_cctv['구'] = gu_val
sasang_cctv['동'] = dong_val

sasang_cctv.head()

  소재지지번주소 설치목적구분  카메라대수    구    동
0     NaN    다목적      1  NaN  NaN
1     NaN    다목적      1  NaN  NaN
2     NaN    다목적      1  NaN  NaN
3     NaN    다목적      1  NaN  NaN
4     NaN    다목적      1  NaN  NaN

In [18]:
# sasang_cctv.소재지지번주소.value_counts(dropna = False)
sasang_cctv

                    소재지지번주소 설치목적구분  카메라대수    구    동
0                       NaN    다목적      1  NaN  NaN
1                       NaN    다목적      1  NaN  NaN
2                       NaN    다목적      1  NaN  NaN
3                       NaN    다목적      1  NaN  NaN
4                       NaN    다목적      1  NaN  NaN
5                       NaN    다목적      1  NaN  NaN
6                       NaN    다목적      1  NaN  NaN
7                       NaN    다목적      1  NaN  NaN
8                       NaN    다목적      1  NaN  NaN
9                       NaN    다목적      1  NaN  NaN
10                      NaN    다목적      1  NaN  NaN
11                      NaN    다목적      1  NaN  NaN
12                      NaN    다목적      1  NaN  NaN
13                      NaN    다목적      1  NaN  NaN
14                      NaN    다목적      1  NaN  NaN
15                      NaN    다목적      1  NaN  NaN
16                      NaN    다목적      1  NaN  NaN
17                      NaN    다목적      1  NaN  NaN
18                      NaN    다목적      1  NaN  NaN
19                      NaN    다목적      1  NaN  NaN
20                      NaN    다목적      1  NaN  NaN
21                      NaN    다목적      1  NaN  NaN
22                      NaN    다목적      1  NaN  NaN
23                      NaN    다목적      1  NaN  NaN
24                      NaN    다목적      1  NaN  NaN
25                      NaN    다목적      1  NaN  NaN
26                      NaN    다목적      1  NaN  NaN
27                      NaN    다목적      1  NaN  NaN
28                      NaN    다목적      1  NaN  NaN
29                      NaN    다목적      1  NaN  NaN
..                      ...    ...    ...  ...  ...
404    부산광역시 사상구 감전동 106-12    다목적      2  사상구   감전
405    부산광역시 사상구 감전동 104-40    다목적      2  사상구   감전
406     부산광역시 사상구 모라동 708-9    다목적      1  사상구   모라
407     부산광역시 사상구 주례동 397-2    다목적      1  사상구   주례
408       부산광역시 사상구 엄궁동 124    다목적      1  사상구   엄궁
409     부산광역시 사상구 모라동 508-2    다목적      4  사상구   모라
410       부산광역시 사상구 괘법동 462    다목적      1  사상구   괘법
411     부산광역시 사상구 학장동 197-2    다목적      1  사상구   학장
412    부산광역시 사상구 주례동 1160-8    다목적      4  사상구   주례
413    부산광역시 사상구 주례동 691-40    다목적      4  사상구   주례
414     부산광역시 사상구 주례동 690-7    다목적      4  사상구   주례
415     부산광역시 사상구 괘법동 488-4    다목적      4  사상구   괘법
416    부산광역시 사상구 삼락동 419-15    다목적      4  사상구   삼락
417     부산광역시 사상구 감전동 131-8    다목적      4  사상구   감전
418     부산광역시 사상구 삼락동 29-35    다목적      4  사상구   삼락
419     부산광역시 사상구 괘법동 546-5    다목적      4  사상구   괘법
420     부산광역시 사상구 괘법동 123-6    다목적      2  사상구   괘법
421       부산광역시 사상구 감전동 516    다목적      2  사상구   감전
422      부산광역시 사상구 감전동 41-8    다목적      2  사상구   감전
423      부산광역시 사상구 주례동 30-4    다목적      2  사상구   주례
424      부산광역시 사상구 주례동 49-2    다목적      1  사상구   주례
425      부산광역시 사상구 삼락동 29-3    다목적      3  사상구   삼락
426     부산광역시 사상구 주례동 60-87    다목적      2  사상구   주례
427    부산광역시 사상구 괘법동 244-33    다목적      2  사상구   괘법
428     부산광역시 사상구 모라동 745-2    다목적      4  사상구   모라
429     부산광역시 사상구 주례동 310-1    다목적      4  사상구   주례
430     부산광역시 사상구 감전동 130-4    다목적      3  사상구   감전
431    부산광역시 사상구 모라동 651-29    다목적      4  사상구   모라
432    부산광역시 사상구 엄궁동 613-13    다목적      3  사상구   엄궁
433  부산광역시 사상구 학장동 산 138-15    다목적      2  사상구   학장

[434 rows x 5 columns]

In [19]:
# 사하
saha_cctv['구'] = gu_val
saha_cctv['동'] = dong_val


# 데이터 확인 
saha_cctv.head()
# 소재지 삭제하고 재배열

                  소재지지번주소 설치목적구분  카메라대수    구    동
0     부산광역시 사하구 장림1동 1139   생활방범      1  NaN  NaN
1     부산광역시 사하구 당리동 439-2   생활방범      1  NaN  NaN
2    부산광역시 사하구 괴정1동 779-4   생활방범      1  NaN  NaN
3  부산광역시 사하구 괴정3동 260-257   생활방범      1  NaN  NaN
4    부산광역시 사하구 괴정4동 579-5   생활방범      1  NaN  NaN

In [20]:
# 삭제 할 컬럼 위치 파악 
dum_cols_saha = saha_cctv.columns[:1]
dum_cols_sasang = sasang_cctv.columns[:1]
print(dum_cols_saha,dum_cols_sasang)

Index(['소재지지번주소'], dtype='object') Index(['소재지지번주소'], dtype='object')

In [21]:
gu_list= [dum_cols_sasang,dum_cols_saha]
for gu in gu_list:
    print(gu)

Index(['소재지지번주소'], dtype='object')
Index(['소재지지번주소'], dtype='object')

In [22]:
# 더미 데이터 제거 
# 굳이 예외 처리를 하는 이유 => 

try:    
    saha_cctv.drop( gu, inplace=True, axis=1 )
    print("labels 소재지지번주소 제거>>> \n" )
#     print("labels 소재지지번주소 제거>>> \n", sasang_cctv.head(2) )
    
except Exception as e:
    print('error => ',e) # 눈으로 확인이 가능하다 
    
    
print('='*50)
saha_cctv.head(2)
sasang_cctv.head(2)

labels 소재지지번주소 제거>>>

==================================================

  소재지지번주소 설치목적구분  카메라대수    구    동
0     NaN    다목적      1  NaN  NaN
1     NaN    다목적      1  NaN  NaN

In [23]:
# 재배치 
saha_cctv = saha_cctv.iloc[:, [2,3,1,0]]
sasang_cctv = sasang_cctv.iloc[:, [2,3,1,0]]
# saha_cctv = saha_cctv.iloc[:, [2,3,1,0]]

In [24]:
# 사하구 - 구, 동, 설치목적, 카메라수 
saha_cctv.head()

     구    동  카메라대수 설치목적구분
0  NaN  NaN      1   생활방범
1  NaN  NaN      1   생활방범
2  NaN  NaN      1   생활방범
3  NaN  NaN      1   생활방범
4  NaN  NaN      1   생활방범

In [25]:
# 사상구 - 구, 동, 설치목적, 카메라수 
sasang_cctv.head()

   카메라대수    구 설치목적구분 소재지지번주소
0      1  NaN    다목적     NaN
1      1  NaN    다목적     NaN
2      1  NaN    다목적     NaN
3      1  NaN    다목적     NaN
4      1  NaN    다목적     NaN

In [19]:
saha_cctv.columns[:]

Index(['구', '동', '카메라대수', '설치목적구분'], dtype='object')

In [20]:
# 이름 변경 
saha_cctv.rename(columns= {saha_cctv.columns[2]:'목적', saha_cctv.columns[3]:'CCTV수'}, inplace= True)
saha_cctv.head(2)

     구   동  목적 CCTV수
0  사하구  장림   1  생활방범
1  사하구  당리   1  생활방범

In [21]:
saha_cctv.동.unique()

array(['장림', '당리', '괴정', '다대', '신평', '감천', '하단', '구평', nan, '몰운', '하신',
       '낙동', '을숙'], dtype=object)

In [22]:
# 중복 카운트 
# dropna = False (5)
saha_cctv.동.value_counts(dropna = False)
# 동을 네임만 살리자 !! 세부동은 아직은 힘들공
# 몰운대, 낙동, 을숙은

괴정     143
다대      99
하단      97
감천      93
장림      78
신평      61
당리      55
구평      25
NaN      5
낙동       2
몰운       2
하신       2
을숙       1
Name: 동, dtype: int64

In [23]:
saha_cctv['동'] = saha_cctv['동'].fillna('기타')
saha_cctv['구'] = saha_cctv['구'].fillna('사하구')

In [24]:
saha_cctv.동.value_counts(dropna = False)

괴정    143
다대     99
하단     97
감천     93
장림     78
신평     61
당리     55
구평     25
기타      5
낙동      2
몰운      2
하신      2
을숙      1
Name: 동, dtype: int64

In [25]:
saha_cctv.동.value_counts(dropna = False).values

array([143,  99,  97,  93,  78,  61,  55,  25,   5,   2,   2,   2,   1],
      dtype=int64)

In [26]:
li = ['낙동', '물운', '하신', '을숙']
for i in li:
    print( saha_cctv.동.value_counts(dropna = False)['낙동'] )

2
2
2
2

In [27]:
check_dong = saha_cctv['동']
print(check_dong)

0      장림
1      당리
2      괴정
3      괴정
4      괴정
5      장림
6      다대
7      괴정
8      괴정
9      괴정
10     괴정
11     다대
12     당리
13     신평
14     감천
15     감천
16     괴정
17     장림
18     신평
19     감천
20     감천
21     감천
22     감천
23     감천
24     괴정
25     감천
26     괴정
27     감천
28     괴정
29     감천
       ..
633    괴정
634    괴정
635    당리
636    감천
637    괴정
638    하단
639    하단
640    하단
641    하단
642    하단
643    괴정
644    신평
645    하단
646    괴정
647    다대
648    감천
649    기타
650    기타
651    괴정
652    몰운
653    몰운
654    기타
655    하신
656    기타
657    기타
658    낙동
659    을숙
660    다대
661    낙동
662    하신
Name: 동, Length: 663, dtype: object

In [28]:
# 중복된것을 합치고 삭제 
# dong_list=['장림', '당리', '괴정', '다대', '신평', '감천', '하단', '구평','기타']

# for dong in check_dong:
#     if dong in dong_list:
#         pass
#     else:
#         # 이름만 바꿔주면되 
#         print(dong)


txt="""
들어갈 인자값은 시리즈 
동을 정해두고 dong_list=['장림', '당리', '괴정', '다대', '신평', '감천', '하단', '구평']
확인을 할꺼야 인자가 뭔가 들어오ㅏ 
하나씩 출력될거야 
출력된 그아이를 확인 이프문을 통해서 
동_리스트중 매치되는게 없다면 
그아이의 이름을 바꾼다. 

"""

In [29]:
# dong_list=['장림', '당리', '괴정', '다대', '신평', '감천', '하단', '구평','기타']

# def check_gu(gu):
#     for dong in check_dong:
#         if dong in dong_list:
#             pass
#         else:
#             # 이름만 바꿔주면되 
            
# #             print(dong)
#             print(dong.replace(dong,'기타'))

In [30]:
# check_gu(check_dong)

In [31]:
# for dong in check_dong:
#     if not dong in ['장림', '당리', '괴정', '다대', '신평', '감천', '하단', '구평','기타']:
#         print(dong.replace(dong,'기타'))

In [32]:
saha_cctv

       구   동  목적  CCTV수
0    사하구  장림   1   생활방범
1    사하구  당리   1   생활방범
2    사하구  괴정   1   생활방범
3    사하구  괴정   1   생활방범
4    사하구  괴정   1   생활방범
5    사하구  장림   1   생활방범
6    사하구  다대   1   생활방범
7    사하구  괴정   1   생활방범
8    사하구  괴정   1   생활방범
9    사하구  괴정   1   생활방범
10   사하구  괴정   1   생활방범
11   사하구  다대   1   생활방범
12   사하구  당리   1   생활방범
13   사하구  신평   1   생활방범
14   사하구  감천   1   생활방범
15   사하구  감천   1   생활방범
16   사하구  괴정   1   생활방범
17   사하구  장림   1   생활방범
18   사하구  신평   1   생활방범
19   사하구  감천   1   생활방범
20   사하구  감천   1   생활방범
21   사하구  감천   1   생활방범
22   사하구  감천   1   생활방범
23   사하구  감천   1   생활방범
24   사하구  괴정   1   생활방범
25   사하구  감천   1   생활방범
26   사하구  괴정   1   생활방범
27   사하구  감천   2   생활방범
28   사하구  괴정   1   생활방범
29   사하구  감천   1   생활방범
..   ...  ..  ..    ...
633  사하구  괴정   1   교통단속
634  사하구  괴정   1   교통단속
635  사하구  당리   1   교통단속
636  사하구  감천   1   교통단속
637  사하구  괴정   1   교통단속
638  사하구  하단   1   교통단속
639  사하구  하단   1   교통단속
640  사하구  하단   1   교통단속
641  사하구  하단   1   교통단속
642  사하구  하단   3   교통단속
643  사하구  괴정   1   교통단속
644  사하구  신평   1   교통단속
645  사하구  하단   5   교통단속
646  사하구  괴정   1   교통단속
647  사하구  다대   4   교통단속
648  사하구  감천   4   교통단속
649  사하구  기타   1   재난재해
650  사하구  기타   1   재난재해
651  사하구  괴정   1   재난재해
652  사하구  몰운   3   재난재해
653  사하구  몰운   1   재난재해
654  사하구  기타   1   재난재해
655  사하구  하신   1   재난재해
656  사하구  기타   1   재난재해
657  사하구  기타   1   재난재해
658  사하구  낙동   1   재난재해
659  사하구  을숙   1   재난재해
660  사하구  다대   2  시설물관리
661  사하구  낙동   2  시설물관리
662  사하구  하신   2  시설물관리

[663 rows x 4 columns]

In [33]:
saha_cctv.동.value_counts(dropna = False)

괴정    143
다대     99
하단     97
감천     93
장림     78
신평     61
당리     55
구평     25
기타      5
낙동      2
몰운      2
하신      2
을숙      1
Name: 동, dtype: int64

In [43]:
# 컬럼명을 의미 있게 조정
dic = {
        '낙동':'기타',
        '몰운':'기타',
        '하신':'기타',
        '을숙':'기타'
}
#
saha_cctv.동.replace( dic,inplace=True )

In [44]:
saha_cctv.tail()

       구   동  목적  CCTV수
658  사하구  기타   1   재난재해
659  사하구  기타   1   재난재해
660  사하구  다대   2  시설물관리
661  사하구  기타   2  시설물관리
662  사하구  기타   2  시설물관리

In [45]:
saha_cctv.동.value_counts(dropna = False)

괴정    143
다대     99
하단     97
감천     93
장림     78
신평     61
당리     55
구평     25
기타     12
Name: 동, dtype: int64

In [36]:
# 부산시 인구수
b_pop= pd.read_csv('../data/Busan_pop.csv', encoding='euc-kr')

b_pop.head(5)

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,중구,9,"23,093","44,223","21,987","22,236",1.272488,2.83,"15,627"
1,서구,13,"52,914","111,044","54,263","56,781",3.195217,13.98,"7,943"
2,동구,12,"44,075","89,692","44,103","45,589",2.580828,9.74,"9,209"
3,영도구,11,"55,018","119,602","59,289","60,313",3.441468,14.20,"8,423"
4,부산진구,20,"166,434","362,296","175,453","186,843",10.424827,29.67,"12,211"