# 판다스 입문 _05
- 2020.01.31
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

## 데이터 연결하기

### concat 메서드로 데이터 연결하기
- 데이터를 연결하기 위해서는 concat을 사용

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/concat_1.csv') 
df2 = pd.read_csv('../data/concat_2.csv') 
df3 = pd.read_csv('../data/concat_3.csv')

In [5]:
# 데이터 프레임을 리스트에 담아 전달 => 데이터 프레임을 연결 
# 열이름 모두 같음 => 그래서 열이 그대로 유지 
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [7]:
# 전달받은 요소 순으로 데이터를 연결  => 기존인덱스 프레임의 인덱스 유지 
print(row_concat.iloc[3,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [8]:
# 시리즈를 추가 
new_row_series = pd.Series(['n1','n2','n3','n4'])

In [9]:
# 데이터 프레임과 리스트 연결 
# 새로운 열로 추가 
# NaN은 누락값 

print(pd.concat([df1,new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

### 행 1개로 구성된 데이터프레임 생성하여 연결하기
- 시리즈를 데이터프레임의 새로운 행으로 연결하려고 하면 작동 x 
- 시리즈에는 열의 이름이 없음      
    => 시리즈를 새로운 열로 간주 0이라는 이름의 열로 추가

In [10]:
# 데이터 프레임 생성 
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D']) 
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [12]:
# row 중복 가능 
# 컴캣을 옆으로 
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [14]:
new_row_df

    A   B   C   D
0  n1  n2  n3  n4

In [15]:
df1.append(new_row_df)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [13]:
# 어팬드는 아래로 
print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [22]:

data_dict = {'A': 'n1', 'B': 'n2', 'C': 'n3', 'D': 'n4'}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

## 다양한 방법으로 데이터 연결

###  ignore_index 인자 사용하기
- 데이터 프레임의 인덱스를 0부터 다시 지정

In [19]:
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [17]:
row_concat_i = pd.concat([df1,df2,df3],ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

### 열 방향으로 데이터 연결하기

In [20]:
col_concat = pd.concat([df1,df2,df3],axis=1)
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [21]:
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [23]:
# 열 추가 
col_concat['new_col_list']=['n1', 'n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [24]:
# 짝을 맞춰서 돌려야 한다 
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D    A    B    C    D
0  a0  b0  c0  d0   a8   b8   c8   d8
1  a1  b1  c1  d1   a9   b9   c9   d9
2  a2  b2  c2  d2  a10  b10  c10  d10
3  a3  b3  c3  d3  a11  b11  c11  d11

### merge(머쥐) 메서드 사용하기

In [25]:
# 데이터 가지고 오기 
person  = pd.read_csv('../data/survey_person.csv')
site    = pd.read_csv('../data/survey_site.csv') 
survey  = pd.read_csv('../data/survey_survey.csv')
visited = pd.read_csv('../data/survey_visited.csv')

In [26]:
# 관측자 이름 
print(person.head())

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [27]:
# 관측 위치 
print(site.head())

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [28]:
# 날씨 정보
print(survey.head())

   taken person quant  reading
0    619   dyer   rad     9.82
1    619   dyer   sal     0.13
2    622   dyer   rad     7.80
3    622   dyer   sal     0.09
4    734     pb   rad     8.41

In [29]:
# 관측 날짜 
print(visited.head())

   ident  site       dated
0    619  DR-1  1927-02-08
1    622  DR-1  1927-02-10
2    734  DR-3  1939-01-07
3    735  DR-3  1930-01-12
4    751  DR-3  1930-02-26

In [30]:
# 일부 데이터만 추출 해서 사용 
visited_subset = visited.loc[[0, 2, 6], ]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [ ]:
#