# 판다스 실습_ cctv
- 2020.02.04     
[링크 - 2018년도 포함 ](https://github.com/Jerrykim91/py_poo/blob/master/analysis/pandas/cctv/Populate_per_cctv_analysis.ipynb)

## 서울시 구별 cctv 분석 , 구별 인구 대비 분석 
    - 인구 데이터 , cctv데이터 
    
---
+ 개별 데이터 분석 
+ 상관성 분석
+ pandas 사용법 분석, 시각화 연습

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# 일단 데이터형태부터 파악한후 작업 진행 
s_cctv = pd.read_csv('../data/seoul_cctv.csv', encoding='utf-8')

In [3]:
print(s_cctv.head(2))
s_cctv.head(2)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

In [4]:
print(s_cctv.tail(2))

    기관명    소계  2013년도 이전  2014년  2015년  2016년
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [5]:
# 열 확인
print(s_cctv.columns)

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
# 기관명을 자치구로 변경 -> 의미의 정확성을 위해서 
# inplace_ 파라미터는 원본을 변경할것인가 => Ture면 원본 변경 ->반영 
# 키역활을 자치구가 함 
s_cctv.rename( columns= {s_cctv.columns[0]:'자치구' }, inplace= True)
# 데이터 확인 
s_cctv.head(2)

   자치구    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

---

In [7]:
# 인구현황 데이터 불러오기
s_pop = pd.read_excel('../data/Report.xls', encoding='utf-8')

In [9]:
# 데이터 형태 파악 => 병합되면 열이 중복으로 나옴 
# print(s_pop.head(2))
s_pop.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2018.2/4,합계,4241547,10089517,4935944,5153573,9814049,4802769,5011280,275468,133175,142293,2.31,1393671
3,2018.2/4,종로구,73655,163569,79522,84047,153780,75247,78533,9789,4275,5514,2.09,26512
4,2018.2/4,중구,61091,135427,66673,68754,126032,62260,63772,9395,4413,4982,2.06,21798

In [ ]:
# 파일 형태를 확인해봤는데 => 코드로 확인 파일열어서 확인(이중으로!!)
# 인덱스부분이 병합이되어 중복 => 더미 => 삭제 
# 헤드를 정리 => 각 인덱스의 특징 추출하고 재 명명
# 내가 원하는 합계만 추출

In [9]:
s_pop = pd.read_excel('../data/Report.xls', 
                      header  = 2,
                      usecols ='B,D,G,J,N', # 각 특징의 합계만 들고 옴 , report 파일확인 
                      encoding='utf-8')

# header  = 2 , 2개의 더미열을 날림
# 내가 필요항 컬럼만 추출 => usecols 인자에 지정 가능 
# A를 ...음  A는 기간 

s_pop.head(2)

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10089517  9814049  275468   1393671
1  종로구    163569   153780    9789     26512

In [10]:
s_pop.columns

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

In [11]:
# 자치구를 제외하고 컬럼명을 조정해야해 
s_pop.columns[1]

'계'

# 만약 자치구 컬럼명을 변경안했으면 

-  계 ~ .... 고령자 수 = > 인구수, 한국인 , 외국인 , 고령자

```py
# **1번 방법**
s_cctv.rename( columns={ s_pop.columns[0]:'자치구' 
                     s_pop.columns[1]:'인구수',
                     s_pop.columns[2]:'한국인',
                     s_pop.columns[3]:'외국인',
                     s_pop.columns[4]:'고령자'
                   }, inplace=True )
```

```py
# **2번 방법**
dic = {
        s_pop.columns[0]:'자치구' 
        s_pop.columns[1]:'인구수',
        s_pop.columns[2]:'한국인',
        s_pop.columns[3]:'외국인',
        s_pop.columns[4]:'고령자'
}
s_pop.rename( columns=dic,inplace=True )
s_pop.head(2)
                                      
```

In [12]:
# 컬럼명을 의미 있게 조정
dic = {
        s_pop.columns[1]:'인구수',
        s_pop.columns[2]:'한국인',
        s_pop.columns[3]:'외국인',
        s_pop.columns[4]:'고령자'
}
#
s_pop.rename( columns=dic,inplace=True )
s_pop.head(2)

   자치구       인구수      한국인     외국인      고령자
0   합계  10089517  9814049  275468  1393671
1  종로구    163569   153780    9789    26512

---

### 데이터 특성 파악

In [13]:
# cctv 
s_cctv.head(2)

   자치구    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

In [14]:
# 컬럼 중심 오름차순 
# sort_values
# 소계를 기준으로 나열 
s_cctv.sort_values(by='소계', ascending = False).head(2)

    자치구    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  3238       1292    430    584    932
18  양천구  2482       1843    142     30    467

In [15]:
# 컬럼 중심 내림차순
s_cctv.sort_values(by='소계', ascending = True).head(2)

   자치구   소계  2013년도 이전  2014년  2015년  2016년
9  도봉구  825        238    159     42    386
2  강북구  831        369    120    138    204

1. 가설 발생 
    - 교통요인부분 고려
    - 인구 밀도 주거지역 cctv 낮고, 상업지역은 높음 
    - 주거인구, 유동인구 => 하고자하는목적에 따라 선택 
    - 최근 증가율 확인 
    - 이전년도 대비 증가율 계산(각년도의 합)/2013년도 이전 \*100

### 증가율 계산 
- 이전년도 대비 증가율 계산(각년도의 합)/2013년도 이전 *100

In [16]:
# s_cctv['2013년도 이전']
s_cctv['2014년']

0     430
1      99
2     120
3     258
4     260
5      78
6     173
7      51
8      57
9     159
10     23
11    341
12    118
13     50
14    157
15     91
16     78
17     21
18    142
19    214
20    218
21    224
22    314
23    190
24    121
Name: 2014년, dtype: int64

In [17]:
# 증가율 
sum_cctv = s_cctv['2014년'] + s_cctv['2015년'] + s_cctv['2016년']
# print(sum_cctv)
s_cctv.head(2)

   자치구    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377

In [18]:
# 최신 증가율
# 열 추가
s_cctv['최신증가율'] = (sum_cctv)/( s_cctv['2013년도 이전']) *100

s_cctv

     자치구    소계  2013년도 이전  2014년  2015년  2016년       최신증가율
0    강남구  3238       1292    430    584    932  150.619195
1    강동구  1010        379     99    155    377  166.490765
2    강북구   831        369    120    138    204  125.203252
3    강서구   911        388    258    184     81  134.793814
4    관악구  2109        846    260    390    613  149.290780
5    광진구   878        573     78     53    174   53.228621
6    구로구  1884       1142    173    246    323   64.973730
7    금천구  1348        674     51    269    354  100.000000
8    노원구  1566        542     57    451    516  188.929889
9    도봉구   825        238    159     42    386  246.638655
10  동대문구  1870       1070     23    198    579   74.766355
11   동작구  1302        544    341    103    314  139.338235
12   마포구   980        314    118    169    379  212.101911
13  서대문구  1254        844     50     68    292   48.578199
14   서초구  2297       1406    157    336    398   63.371266
15   성동구  1327        730     91    241    265   81.780822
16   성북구  1651       1009     78    360    204   63.627354
17   송파구  1081        529     21     68    463  104.347826
18   양천구  2482       1843    142     30    467   34.671731
19  영등포구  1277        495    214    195    373  157.979798
20   용산구  2096       1368    218    112    398   53.216374
21   은평구  2108       1138    224    278    468   85.237258
22   종로구  1619        464    314    211    630  248.922414
23    중구  1023        413    190     72    348  147.699758
24   중랑구   916        509    121    177    109   79.960707

In [19]:
# 소계 내림 차순 
# sort_values 인자는 
# by => 적용대상의 컬럼 
# ascending = True => 내림차순 
# 오름차순으로 상위 top7 출력
s_cctv.sort_values(by ='소계', ascending= False).head(7)

    자치구    소계  2013년도 이전  2014년  2015년  2016년       최신증가율
0   강남구  3238       1292    430    584    932  150.619195
18  양천구  2482       1843    142     30    467   34.671731
14  서초구  2297       1406    157    336    398   63.371266
4   관악구  2109        846    260    390    613  149.290780
21  은평구  2108       1138    224    278    468   85.237258
20  용산구  2096       1368    218    112    398   53.216374
6   구로구  1884       1142    173    246    323   64.973730

### 잇슈 확인 

- 결측치가 이미 존재했던 중랑구, 동대문구에 대한 조치 필요
    - 결측치를 0으로 처리하는 방안  
    - 최초 데이터가 존재하는 년도까지 기준점으로 잡고 가는방향  
    - 최초 데이터에 대한 의구심을 가지고 다시 데이터를 수집 하는 방향  
- 종로구는 초기 데이터가 워낙 작아서 증가율이 너무 크게 나온다
    - 특정 구간까지는 ~년도이전으로 묶어주는것이 좋을듯 
    

- nan 처리 -> 0으로 진행
- 필요없는 자료는 제거
- 2014년도 이전 자료 대비 2015~2018 최신증가율(4년간)이란믄 항목으로 추가

---

### nan 처리 => 결측치 처리
- 결측값 채우기
 > 1. 특정값  
 > 2. 앞방향으로 채우기->시계열활용  
 > 3. 뒷방향으로 채우기->시계열활용  
 > 4. 채우는 회수 제한  
- 결측값 대체하기 
 > 변수별 평균으로 대체  
- 결측값 처리
 > 다른 변수의 값으로 대체   
- 결측값 제거
 - 아래 코드 참조       
     =>  isnull 검사후 => 블리언인덱싱이용 => 원데이터에 대상 index를 획득  
 - any()로 검사후 참이면 해당 인덱스에 일치되는 데이터를 제거

In [20]:
s_cctv.count()

자치구          25
소계           25
2013년도 이전    25
2014년        25
2015년        25
2016년        25
최신증가율        25
dtype: int64

In [21]:
s_cctv.shape[0]

25

In [22]:
# 누락값 계산
num_rows = s_cctv.shape[0]
num_missing = num_rows - s_cctv.count()
print(num_missing)

# 누락값없음

자치구          0
소계           0
2013년도 이전    0
2014년        0
2015년        0
2016년        0
최신증가율        0
dtype: int64

In [23]:
# 결측치 정리 // nan -> 0으로 변경 
# fillna이용 
# s_cctv.fillna(0, inplace=True)

In [24]:
# 컬럼 확인 
s_cctv.columns

Index(['자치구', '소계', '2013년도 이전', '2014년', '2015년', '2016년', '최신증가율'], dtype='object')

In [25]:
# 2014년 이전만 추출 
tmp = s_cctv.iloc[:,[2,3]]
print(tmp.head())

   2013년도 이전  2014년
0       1292    430
1        379     99
2        369    120
3        388    258
4        846    260

In [26]:
# 축(axis)=1 열 방향의 합
tmp.sum(axis=1)
# print(1292+430)

0     1722
1      478
2      489
3      646
4     1106
5      651
6     1315
7      725
8      599
9      397
10    1093
11     885
12     432
13     894
14    1563
15     821
16    1087
17     550
18    1985
19     709
20    1586
21    1362
22     778
23     603
24     630
dtype: int64

In [27]:
s_cctv['2014년도 이전'] = s_cctv.iloc[:,[2,3]].sum(axis=1)
# 새로운 컬럼이 생성 된것을 확인가능
s_cctv.head(2)

   자치구    소계  2013년도 이전  2014년  2015년  2016년       최신증가율  2014년도 이전
0  강남구  3238       1292    430    584    932  150.619195       1722
1  강동구  1010        379     99    155    377  166.490765        478

In [28]:
# 필요 없는 데이터는 드랍 => ['2013년도 이전', '2014년']
# 범위 확인 for 슬라이싱 
s_cctv.columns[2:4]

Index(['2013년도 이전', '2014년'], dtype='object')

In [29]:
dum_cols = s_cctv.columns[2:4]
# print(dum_cols)
# 이제 지워야 할것을 확인 => dum_cols의 내용을 전부 드랍

In [30]:
# 더미 데이터 제거 
# 굳이 예외 처리를 하는 이유 => 
try:    
    s_cctv.drop( dum_cols, inplace=True, axis=1 )
    print("labels ['2013년도 이전' '2014년'] 제거>>> \n", s_cctv.head(2) )
except Exception as e:
    print('error => ',e) # 눈으로 확인이 가능하다 
    
    
print('='*50)
s_cctv.head(2)

labels ['2013년도 이전' '2014년'] 제거>>>
    자치구    소계  2015년  2016년       최신증가율  2014년도 이전
0  강남구  3238    584    932  150.619195       1722
1  강동구  1010    155    377  166.490765        478

   자치구    소계  2015년  2016년       최신증가율  2014년도 이전
0  강남구  3238    584    932  150.619195       1722
1  강동구  1010    155    377  166.490765        478

In [45]:
print(s_cctv['2014년도 이전'].head(2))

0    1722
1     478
Name: 2014년도 이전, dtype: int64

In [42]:
# 최신 증가율 재계산 => 리세팅 
# dummy 데이터로 확인 먼저

sum_cctv = s_cctv.iloc[:,[2,3,5]].sum(axis=1)
print(sum_cctv)

0     3238
1     1010
2      831
3      911
4     2109
5      878
6     1884
7     1348
8     1566
9      825
10    1870
11    1302
12     980
13    1254
14    2297
15    1327
16    1651
17    1081
18    2482
19    1277
20    2096
21    2108
22    1619
23    1023
24     916
dtype: int64

In [48]:
# 덮어 쓰기 ..?

# 최신 증가율
# 열 추가
s_cctv['최신증가율'] = (sum_cctv)/( s_cctv['2014년도 이전']) *100

print(s_cctv)

     자치구    소계  2015년  2016년       최신증가율  2014년도 이전
0    강남구  3238    584    932  188.037166       1722
1    강동구  1010    155    377  211.297071        478
2    강북구   831    138    204  169.938650        489
3    강서구   911    184     81  141.021672        646
4    관악구  2109    390    613  190.687161       1106
5    광진구   878     53    174  134.869432        651
6    구로구  1884    246    323  143.269962       1315
7    금천구  1348    269    354  185.931034        725
8    노원구  1566    451    516  261.435726        599
9    도봉구   825     42    386  207.808564        397
10  동대문구  1870    198    579  171.088747       1093
11   동작구  1302    103    314  147.118644        885
12   마포구   980    169    379  226.851852        432
13  서대문구  1254     68    292  140.268456        894
14   서초구  2297    336    398  146.960972       1563
15   성동구  1327    241    265  161.632156        821
16   성북구  1651    360    204  151.885925       1087
17   송파구  1081     68    463  196.545455        550
18   양천구  2482     30    467  125.037783       1985
19  영등포구  1277    195    373  180.112835        709
20   용산구  2096    112    398  132.156368       1586
21   은평구  2108    278    468  154.772394       1362
22   종로구  1619    211    630  208.097686        778
23    중구  1023     72    348  169.651741        603
24   중랑구   916    177    109  145.396825        630

In [53]:
# dum = s_cctv.iloc[:,[0,1,5,2,3,4]]
# print(dum)
# dum

# 펜시 인덱싱을 통함 컬럼 재배치 후 사본 리턴
s_cctv = s_cctv.iloc[:,[0,1,5,2,3,4]]
s_cctv

     자치구    소계  2014년도 이전  2015년  2016년       최신증가율
0    강남구  3238       1722    584    932  188.037166
1    강동구  1010        478    155    377  211.297071
2    강북구   831        489    138    204  169.938650
3    강서구   911        646    184     81  141.021672
4    관악구  2109       1106    390    613  190.687161
5    광진구   878        651     53    174  134.869432
6    구로구  1884       1315    246    323  143.269962
7    금천구  1348        725    269    354  185.931034
8    노원구  1566        599    451    516  261.435726
9    도봉구   825        397     42    386  207.808564
10  동대문구  1870       1093    198    579  171.088747
11   동작구  1302        885    103    314  147.118644
12   마포구   980        432    169    379  226.851852
13  서대문구  1254        894     68    292  140.268456
14   서초구  2297       1563    336    398  146.960972
15   성동구  1327        821    241    265  161.632156
16   성북구  1651       1087    360    204  151.885925
17   송파구  1081        550     68    463  196.545455
18   양천구  2482       1985     30    467  125.037783
19  영등포구  1277        709    195    373  180.112835
20   용산구  2096       1586    112    398  132.156368
21   은평구  2108       1362    278    468  154.772394
22   종로구  1619        778    211    630  208.097686
23    중구  1023        603     72    348  169.651741
24   중랑구   916        630    177    109  145.396825

## cctv데이터와 인구현황데이터 합치고 분석하기 
 - merge

In [61]:
s_pop.head(3)

   자치구     인구수     한국인    외국인    고령자
1  종로구  163569  153780   9789  26512
2   중구  135427  126032   9395  21798
3  용산구  245245  229677  15568  37331

In [60]:
# axis 조건을주면 해당 조건을 충족한 아이들이 삭제 
# 합계 로우 삭제 
s_pop.drop([0],inplace=True)
s_pop.head(2)

   자치구     인구수     한국인   외국인    고령자
1  종로구  163569  153780  9789  26512
2   중구  135427  126032  9395  21798

In [58]:
# s_pop.info()
# 타입확인 
s_pop.dtypes

자치구    object
인구수     int64
한국인     int64
외국인     int64
고령자     int64
dtype: object

In [56]:
# 데이터 확인 
s_pop.tail()

    자치구     인구수     한국인    외국인    고령자
21  관악구  521960  504048  17912  71317
22  서초구  443989  439844   4145  54614
23  강남구  551888  546952   4936  66011
24  송파구  673161  666439   6722  79093
25  강동구  437050  432749   4301  57680

In [31]:
# 데이터 병합 
# 병합하기위해서 두개의 데이터를 동일한 컨디션으로 변경해줘야한다. 

# s_cctv  => 2014 년도 이전 데이터는 전부 묶고 컬럼을 앞으로 이동함  
# s_pop   => 아직 2011-년도부터 2014년도 데이터가 각 컬럼을 가지고 존재
# s_cctv  => s_pop의 차원은 동일해야한다 (동일한 컨디션)
# 그러므로 아래와 같이 s_pop를 s_cctv와 같도록 수정해야한다.
# 이파일은 기간이 없으므로 생략 한다.

In [62]:
s_cctv.shape, s_pop.shape

((25, 6), (25, 5))

In [63]:
# 열개수 같은지 확인 
s_cctv.columns , s_pop.columns

(Index(['자치구', '소계', '2014년도 이전', '2015년', '2016년', '최신증가율'], dtype='object'),
 Index(['자치구', '인구수', '한국인', '외국인', '고령자'], dtype='object'))

In [14]:
# cctv => 25
s_cctv['자치구'].unique()
# s_cctv['자치구'].unique().shape

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [17]:
# pop  => 27개
s_pop['자치구'].unique()
# s_pop['자치구'].unique().shape

array(['자치구', '합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구',
       '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구',
       '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype=object)

In [21]:
# pop의 '자치구', '합계' 삭제

SyntaxError: invalid syntax (<ipython-input-21-ae901dfe3ab8>, line 3)

In [32]:
# 교집합 
data_result = pdme

NameError: name 'pdme' is not defined

### 상관성 검사 
    - 상관계수 : ~ 0 ~ 1  
    > 0.1 이하 : 거의 관련 없음, 무시  
    > 0.3 이하 : 약한 상관관계  
    > 0.7 이하 : 뚜렷한 상관관계  
    > ~이상  : 명확한 상관관계   
    - np.corroef()