# **09. 정규식**

### 정규식

- 정규표현식 
- 레귤러 익스프레션( Regular Expression )
- 복잡한 문자열을 처리할때 사용하는 기법 
    - 문자열에서 원하는 데이터만 추출, 가공, 삭제 <= 전처리/ 정제 
    
```py
# 1. 모듈가져오기
import re
```

- 메타문자 (meta characters)
    - 일반표현 : | . ^ $ * + ? {} () [] ...
    - 이스케이프 표현 : \d \D \s \S \w \W \b \B ...
    
- 함수
    - match()
    - search()
    - findall()
    - finditer()
    - sub()

- 그루핑 

- 전방탐색 
    - 긍정형 전방 탐색 
    - 부정형 전방 탐색 
    
- 컴파일 옵션

In [1]:
import re

In [68]:
test_txt = '''
BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band formed in Seoul in 2013. The septet co-writes and produces much of their output. Originally a hip hop group, their musical style has evolved to include a wide range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group have staged several world tours.

The group initially formed as teenagers under Big Hit Entertainment and released their debut single album, 2 Cool 4 Skool (2013). Subsequent work such as their first U.S. Billboard 200 entries The Most Beautiful Moment in Life, Part 2 (2015), The Most Beautiful Moment in Life: Young Forever (2016), and Wings (2016) helped establish BTS' reputation as a socially conscious group. Wings became BTS' first album to sell one million copies in South Korea. By 2017, BTS crossed into the international music market, leading the Korean Wave into the United States and breaking numerous sales records, becoming the first Korean group to receive a certification from the Recording Industry Association of America (RIAA) for their single "Mic Drop". The band is the first Korean act to top the Billboard 200 with their studio album Love Yourself: Tear (2018) and have since hit the top of the U.S. charts with their albums Love Yourself: Answer (2018) and Map of the Soul: Persona (2019), making BTS the first group since the Beatles to earn three number one albums in less than a year. Love Yourself: Answer also broke South Korea's Gaon Album Chart's all-time monthly record previously set by Love Yourself: Tear and became the first Korean album certified Gold in the United States.

According to the Gaon Music Chart, BTS has sold sixteen million albums domestically in physical sales and is the best-selling artist to debut in the 2010s.[3] They hold the best-selling album in Korean history with Map of the Soul: Persona. BTS were the second best-selling artists of 2018 worldwide according to the IFPI's Global Artist Chart, as well as the only non-English speaking artist to enter the chart. The group has won Top Social Artist three years in a row and Top Duo/Group at the 26th Billboard Music Awards. Featured on Time's international cover as "Next Generation Leaders", BTS has appeared in the magazine's 25 most influential people on the internet (2017–2019) and Time's 100 most influential people in the world (2019). Forbes Korea named BTS the most influential celebrities of Korea in 2018, and BTS ranked 43rd in the Forbes Celebrity 100 (2019) as one of the world's top-earning celebrities. BTS are ranked #4 of Billboard's Top Social Artist of the 2010s, and are the highest group on the list. During their Love Yourself World Tour, BTS became the first Asian and first non-English speaking act to headline and sell out Wembley Stadium; and broke the record for the single highest-grossing engagement in Rose Bowl Stadium history. Billboard ranked BTS at #45 on their Top Touring Artists of the 2010s list, being the highest-ranked Asian as well as the only non-English speaking act on the list. As of 2019, BTS are purportedly worth more than $4.65 billion to South Korea's economy each year, or 0.3 percent of the country's GDP. BTS attracted one in every 13 foreign tourists that visited South Korea and were cited as one of the key acts boosting global music sales to $19 billion in 2018.

Following the establishment of their Love Myself anti-violence campaign in partnership with UNICEF, BTS addressed the United Nations 73rd General Assembly and became the youngest ever recipients of the Order of Cultural Merit from the President of South Korea due to their contributions in spreading Korean culture and language.
'''
test_txt[:20]

'\nBTS (Korean: 방탄소년단;'

```py
원문에서 한글 제거
한글 초성 + 중성 + 종성=> euc-kr, 16bit => 조합형 코드
한글 가,갸,거,겨,      => utf-8 ,  8bit => 완성형 코드
완성형기준 => ㄱ -> ㅣ 가 ~ 힣
```

In [9]:
hangul = re.compile( '[ㄱ-ㅣ가-힣]+' )

In [8]:
hangul.sub('',test_txt)[:100]

'\nBTS (Korean: ; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Kor'

In [4]:
alpha = re.compile( '[a-zA-Z]+' )

In [7]:
alpha.sub('',test_txt)[:100]

'\n (: 방탄소년단; :  ),      ,   -         2013.   -      .     ,            .  ,       ,       ,   - , , '

- 1. 데이터를 본다 
- 2. 정제 및 추출 => 표현식을 구현 
- 3. \[최종 추출과정\] 함수를 써서 데이터 확득

### 메타 문자

- **|**  
    - 의미 : or

In [1]:
# 정규 표현식 모듈 
import re

In [4]:
# re.match(정규식, 데이터 )
if re.match('a|b|c','a'): print('1.매치된다')
if re.match('a|b|c','b'): print('2.매치된다')
if re.match('a|b|c','c'): print('3.매치된다')
# re.match() : 특정 패턴이

1.매치된다
2.매치된다
3.매치된다

In [5]:
if re.match('a|b|c','ab'): print('4.매치된다') # 하나라도 있으면 출력된다. => 참 
if re.match('a|b|c','d') : print('5.매치된다')
if re.match('a|b|c','da'): print('6.매치된다') #a,b,c 중의 하나가 가장 먼저 시작한다.(첫글자가 중요!)
# if re.match('a|b|c','c'): print('3.매치된다')

1.매치된다

- **\[\]**

    - 의미 : 문자 클래스 
    - '['와 ']' 사이에는 어떠한 문자도 들어갈 수 있다
    - \[\]은 문자 한개를 의미한다
    - match(시작단어), search(전체중 일치되는 단어)를 사용 할 경우 한개만 일치 되면 참

In [6]:
# 문자열은 a, b, c 중에 하나가 시작 문자여야 한다.
if re.match('a|b|c','a')  : print('1.매치된다')
if re.match('a|b|c','efz'): print('2.매치된다')
if re.match('a|b|c','abd'): print('3.매치된다')
if re.match('a|b|c','b56'): print('4.매치된다')

1.매치된다
3.매치된다
4.매치된다

In [9]:
# seach는 있기만 하면 됨 
if re.search('a|b|c','a')  : print('1.매치된다')
if re.search('a|b|c','efz'): print('2.매치된다')
if re.search('a|b|c','ad'): print('3.매치된다')
if re.search('a|b|c','b56'): print('4.매치된다')

1.매치된다
3.매치된다
4.매치된다

- **하이픈 : '-'**
    - 의미 : \[\] 문자 클래스안에 두개의 문자 사이에 표현    
        => from ~ to : 어디서부터 어디까지 범위를 표현

In [10]:
if re.match('[0123456789]','1') : print('1.매치된다')
if re.match('[0-9]','1')        : print('2.매치된다')

1.매치된다
2.매치된다

In [11]:
if re.match('[a-zA-Z]','1') : print('3.매치된다')
if re.match('[a-zA-Z]','b') : print('4.매치된다')

4.매치된다

In [12]:
if re.match('[0-9a-z]','Aa') : print('5.매치된다')
# 문자열내에 존재하면 체크됨
if re.search('[0-9a-z]','Aa') : print('6.매치된다')

6.매치된다

In [13]:
# 한글 완성형 코드(utf- 8)
if re.search('[ㄱ-힣]','가나다bc') : print('7.매치된다')

7.매치된다

- **다트 : '.'**
    - 의미 : dot(.) 줄바꿈 기호 \n를 제외하고 모든 문자에 매치     
        => '\[\]' 문자 클래스가 아닌곳에서 해당!!
    - 문자클래스 내부에사는 '.'은 '.'이다

In [43]:
if re.match( '[a.b]' , 'a'): print('1. 매치된다')
if re.match( '[a.b]' , 'b'): print('2. 매치된다')
if re.match( '[a.b]' , 'c'): print('3. 매치된다')    
    
if re.match( '[a.b]' , 'ab') : print('4. 매치된다')    
if re.match( '[a.b]' , 'a1b'): print('5. 매치된다')    
if re.match( '[a.b]' , 'abc'): print('6. 매치된다')        
if re.match( '[a.b]' , 'bcd'): print('7. 매치된다')            
if re.match( '[a.b]' , 'cab'): print('8. 매치된다')
    
if re.match( '[a.b]' , '.ab'): print('9. 매치된다')

1. 매치된다
2. 매치된다
4. 매치된다
5. 매치된다
6. 매치된다
7. 매치된다
9. 매치된다

In [44]:
# a문자b 라는 형태로 출발해야 통과
if re.match( 'a.b' , 'a')   : print('1. 매치된다')
if re.match( 'a.b' , 'abc') : print('2. 매치된다')
if re.match( 'a.b' , 'a1b') : print('3. 매치된다')
if re.match( 'a.b' , 'a2be'): print('4. 매치된다')

3. 매치된다
4. 매치된다

- **'^'**
    - 의미 : 
        - 일반문자열   => 문자열의 맨 처음과 일치함을 의미 
        - 문자클래스내 => 배제, 해당 문자 배제 
        - re.MULTILINE => 각 라인의 처음와 일치함을 조사 

- **'\$'**
    - 의미 : 문자열의 맨 끝과 일치 
    
    
- **'\*'** 
    - 의미: *를 붙인 바로 앞문자 **0~무한대** 반복
    
    
- **'+'**
    - 의미:  '+'를 붙인 바로 앞 문자 **1~ 무한대** 반복
        - 문자열 클래스 내부에 기술하면, 단순 + 가 될수도 있고,     
            반복의 의미가 될수도 있다.(주변값을 고려해서 해석)

In [14]:
# 숫자나 .으로 시작하고 끝난다
if re.match( '^[0-9\.]$' , '1'): print('1. 매치된다')

1. 매치된다

In [15]:
if re.match( '^[0-9\.]$' , '.'): print('1. 매치된다')

1. 매치된다

In [16]:
# 문자열은 1개 -> 문자의 수량에서 False가 되었다 => 해결방안: * or +
if re.match( '^[0-9\.]$' , '11'): print('1. 매치된다')
if re.match( '^[0-9\.]$' , '1.'): print('2. 매치된다')
if re.match( '^[0-9\.]$' , '.1'): print('3. 매치된다')    
if re.match( '^[0-9\.]$' , '..'): print('4. 매치된다')

In [17]:
if re.match( '^[0-9\.]+$' , '11'): print('1. 매치된다')
if re.match( '^[0-9\.]+$' , '1.'): print('2. 매치된다')
if re.match( '^[0-9\.]*$' , '.1'): print('3. 매치된다')    
if re.match( '^[0-9\.]*$' , '..'): print('4. 매치된다')

1. 매치된다
2. 매치된다
3. 매치된다
4. 매치된다

In [18]:
# 정규식의 패턴이 늘어감에 따라 match 종합적인 조건을 따지게된다
# 시작문자 and 끝문자 and 문자수 and 문자 성분
if re.match( '^[0-9\.]*$' , '.asdf.'): print('4. 매치된다')

In [19]:
# [^9] : -
if re.match( '[^0-9]' , '1'): print('1. 매치된다')   
if re.match( '[^0-9]' , '가'): print('2. 매치된다')
if re.match( '[^0-9]' , 'a'): print('3. 매치된다')

2. 매치된다
3. 매치된다

In [21]:
# 특정단어가 시작문자로 여러줄에 걸처서 등장 
data = '''류현진 국내 매니지먼트를 담당하는 에이스펙 코퍼레이션은 “류현진이 25일 출국할 예정”이라고 전했다. 류현진은 메디컬테스트를 받고 이상이 발견되지 않으면 현지에서 입단 기자회견도 소화할 계획이다.

류현진 앞서 자유계약선수(FA) 신분인 류현진은 23일 토론토와 

4년 8000만 달러(약 929억4000만 원)에 입단하기로 합의했다. 국내에서 훈련하던 류현진을 대신해 에이전트 스콜 보라스가 협상을 진행했고, 토론토가 내민 조건에 합의했다. 미국과 캐나다 현지에서 기사가 쏟아졌지만 구단은 아직 확정 발표를 하지 않았다.

류현진 한국인 투수 FA 최대 규모 계약은 

박찬호가 2001년 12월 21일 텍사스 레인저스와 맺은 5년 6500만 달러다. 류현진은 메디컬테스트를 통과하고 정식 계약서에 사인하는 순간 한국인 투수 FA 역대 최대 규모 계약의 주인공이 된다.
'''

In [36]:
data

'류현진 국내 매니지먼트를 담당하는 에이스펙 코퍼레이션은 “류현진이 25일 출국할 예정”이라고 전했다. 류현진은 메디컬테스트를 받고 이상이 발견되지 않으면 현지에서 입단 기자회견도 소화할 계획이다.\n\n류현진 앞서 자유계약선수(FA) 신분인 류현진은 23일 토론토와 \n\n4년 8000만 달러(약 929억4000만 원)에 입단하기로 합의했다. 국내에서 훈련하던 류현진을 대신해 에이전트 스콜 보라스가 협상을 진행했고, 토론토가 내민 조건에 합의했다. 미국과 캐나다 현지에서 기사가 쏟아졌지만 구단은 아직 확정 발표를 하지 않았다.\n\n류현진 한국인 투수 FA 최대 규모 계약은 \n\n박찬호가 2001년 12월 21일 텍사스 레인저스와 맺은 5년 6500만 달러다. 류현진은 메디컬테스트를 통과하고 정식 계약서에 사인하는 순간 한국인 투수 FA 역대 최대 규모 계약의 주인공이 된다.\n'

In [34]:
# 정규식을 컴파일해서 이를 이용해서 데이터를 처리한다. 
# \s : whitespace(공백, 탭, ... )
# \w : 한단어 (+,* 통해서 늘릴수있다 = 단어 한덩어리)
# 류현진으로 시작하고 한칸띄고 한단어까지로 시작하는 문자열 

p = re.compile('^류현진\s\w+')
# [^] : 배제
# ^ : 시작

In [29]:
# 한번 빡에 안나온다 => 멀티라인 미지원 
p.findall(data)

['류현진']

In [ ]:
p = re.compile('^류현진')

In [31]:
p.findall(data)

['류현진 ']

In [ ]:
p = re.compile('^류현진\s')

In [33]:
p.findall(data)

['류현진 국']

In [ ]:
p = re.compile('^류현진\s\w')

In [35]:
p.findall(data)

['류현진 국내']

In [41]:
# 멀티라인 지원 
p = re.compile('^류현진\s\w+',re.MULTILINE)
p.findall(data)

['류현진 국내', '류현진 앞서', '류현진 한국인']

In [38]:
data1 = '''류현진 국내 매니지먼트를 담당하는 에이스펙 코퍼레이션은 “류현진 이 25일 출국할 예정”이라고 전했다. 류현진 은 메디컬테스트를 받고 이상이 발견되지 않으면 현지에서 입단 기자회견도 소화할 계획이다.

류현진 앞서 자유계약선수(FA) 신분인 류현진은 23일 토론토와 

4년 8000만 달러(약 929억4000만 원)에 입단하기로 합의했다. 국내에서 훈련하던 류현진을 대신해 에이전트 스콜 보라스가 협상을 진행했고, 토론토가 내민 조건에 합의했다. 미국과 캐나다 현지에서 기사가 쏟아졌지만 구단은 아직 확정 발표를 하지 않았다.

류현진 한국인 투수 FA 최대 규모 계약은 

박찬호가 2001년 12월 21일 텍사스 레인저스와 맺은 5년 6500만 달러다. 류현진 은 메디컬테스트를 통과하고 정식 계약서에 사인하는 순간 한국인 투수 FA 역대 최대 규모 계약의 주인공이 된다.
'''

In [42]:
p = re.compile('^류현진\s\w+',re.MULTILINE)
p.findall(data1)

['류현진 국내', '류현진 앞서', '류현진 한국인']

In [49]:
# $ : 문자열 맨끝 패턴 
if re.match( '^[0-9]+[a-z]+$' , '1'): print('1. 매치된다')   
if re.match( '^[0-9]+[a-z]+$' , '11'): print('2. 매치된다')   
if re.match( '^[0-9]+[a-z]+$' , '11111111A'): print('3. 매치된다')
if re.match( '^[0-9]+[a-z]+$' , '11111111a'): print('4. 매치된다')

In [72]:
# 반복
# * : 0~무한대
if re.match( 'bus*an' , 'buan'): print('1. 매치된다')  
if re.match( 'bus*an' , 'busan'): print('2. 매치된다')  
if re.match( 'bus*an' , 'bussan'): print('3. 매치된다')

1. 매치된다
2. 매치된다
3. 매치된다

In [73]:
# + : 1~무한대
if re.match( 'bus+an' , 'buan'): print('1. 매치된다')  
if re.match( 'bus+an' , 'busan'): print('2. 매치된다')  
if re.match( 'bus+an' , 'bussan'): print('3. 매치된다')

2. 매치된다
3. 매치된다

- **{}**
    - 반복횟수 지정 
    - {2} 2번 반복 
    - {2,3} 2부터 3까지 반복 
- **?**
    - {0,1}
    - 0 OK ,1 OK 
    - 안나오던지 , 나오면 1번만

In [80]:
if re.match( 'bus{2}an' , 'buan'): print('1. 매치된다')  
if re.match( 'bus{2}an' , 'busan'): print('2. 매치된다')  
if re.match( 'bus{2}an' , 'bussan'): print('3. 매치된다')  
if re.match( 'bu{2}san' , 'bussan'): print('3. 매치된다')

3. 매치된다

In [77]:
# 문자 클레스안에스는 본질적인 의미가 없어진다. 그냥 문자로본다
if re.match( '[bus{2}an]' , 'buan'): print('1. 매치된다')

1. 매치된다

In [75]:
# m ~ n까지
if re.match( 'bus{2,3}an' , 'buan'): print('1. 매치된다')  
if re.match( 'bus{2,3}an' , 'busan'): print('2. 매치된다')  
if re.match( 'bus{2,3}an' , 'bussan'): print('3. 매치된다')  
if re.match( 'bus{2,3}an' , 'busssan'): print('4. 매치된다')  
if re.match( 'bus{2,3}an' , 'bussssan'): print('5. 매치된다')

3. 매치된다
4. 매치된다

### 실습문제

In [ ]:
# 정규식은 입력값 유효성검사 할 때 많이 사용 
# 핸드폰 번호정규식 
# 010-숫자4-숫자4

In [ ]:
'010-[0-9]{4}-[0-9]{4}$'
'[0-1]{2}-[0-9]{4}+[0-9]*'

In [129]:
#patten = '01[0-9]-[0-9]{4}-[0-9]{4}$'
patten = '01[0-9]-\d{4}-\d{4}$'
#patten = '010-[0-9]{4}-[0-9]{4}$'
vla = '019-2234-1214'
if re.match( patten , vla): print('동작', re.match( patten , vla))

동작 <_sre.SRE_Match object; span=(0, 13), match='019-2234-1214'>

### 메타문자 > 이스케이프

- \d <-> \D
- \s <-> \S
- \w <-> \W
- \b <-> \B
- 기타
    - 문자클레스 [] 에서 특수문자, 화이트스페이등을 표현할때
    - . => \ . 이런식으로 표현할수 있다

In [143]:
# \d : 숫자 => [0-9]
print('--"\d"--')
if re.match('[\d]','1'):print('1.매치')
if re.match('[\d]','a'):print('a.매치')
    
print('--"\D"--')
# \D : 숫자말고 나머지 => [^0-9]
if re.match('[\D]','1'):print('1.매치')
if re.match('[\D]','a'):print('a.매치')

--"\d"--
1.매치
--"\D"--
a.매치

In [144]:
# \s -> whitespace : \t, \n, \r, \
# 수평탭, 개행 , 캐리지리턴 , 폼피드, 수직탭 => 눈에 보이지 않고 
# 공백처럼 보이면서 문자열상에 정보를 제공 문자 
print('--"\s"--')
if re.match('[\s]','\t\n\r\f\\v'):print('1.매치')
if re.match('[\s]','a\t\f\g\h\j'):print('a.매치') 
    # a.매치는 시작하는 문자가 화이트 스페이스가 아님

--"\s"--
1.매치

In [145]:
# \S -> whitespace가 아닌 문자
print('--"\S"--')
if re.match('[\S]','\t\n\r\f\\v'):print('1.매치') 
    # 1.매치는 시작하는 문자가 화이트 스페이스
if re.match('[\S]','a\t\f\g\h\j'):print('a.매치')

--"\S"--
a.매치

In [ ]:
# \w -> 문자, 숫자와 매치 : [a-zA-Zㄱ-힣], 언어면 다 ok

In [149]:
# \W -> 문자,숫자가 아닌 문자,특수문자,이스케이프문자와 매치 
# => [^a-zA-Zㄱ-힣]

print('--"\w"--')
if re.match('[\w]','a0'):print('a0.매치')
if re.match('[\w]','가'):print('가.매치') 
if re.match('[\w]','1'):print(' 1.매치')
if re.match('[\w]','a'):print(' a.매치')

print('--"\W"--')
if re.match('[\W]','a'):print('a.매치') 
if re.match('[\W]','\t'):print('\\t.매치')

--"\w"--
a0.매치
가.매치
 1.매치
 a.매치
--"\W"--
\t.매치

In [147]:
# 일반 문자열은 이용부호 (예" 줄바꿈...)는 해석되서 처리
a = 'ABCD가나다라마\t]\n라'
print(a)

ABCD가나다라마	]
라

In [148]:
# 만약 데이터 그대로 받고 싶다면 
# Raw String
# 이스케이프 문자가 적용되지 않는다. 

a = r'ABCD가나다라마\t]\n라'
print(a, type(a))

ABCD가나다라마\t]\n라 <class 'str'>

In [2]:
# \b 단어 구분자 ( word boundary) 
# 일반단어는 화이트스페이스로 구분된다
# \b는 일반단어에서 백키로 인식
# 이 자체를 그대로 인식하게 하기위해서 
# raw string으로 표현
p = re.compile( r'\bclass\b' )

In [3]:
m = p.search('no class at 1234class')
print(m,m.group())

<_sre.SRE_Match object; span=(3, 8), match='class'> class

In [4]:
m = p.search('the classifier')
print(m)
# 해당 그룹이 없다.

None

### 함수 

    - match()
        : 문자열의 처음부터 정규식과 매칭되는지 조사 
    - search()
        : 문자열 전체를 검색하여 매칭되는지 조사
    - findall()
        : 정규식에 매칭되는 모든 문자열을 리스트로 리턴  
    - finditer()
        : 정규식에 매칭도;는 모든 문자열을 iterator로 리턴
    - sub()
        : 규칙과 매칭되는 부분을 다른 문자로 변경

In [6]:
# 숫자가 나오고, 1~무한대로 반복될수 있다. 
p = re.compile('[0-9]+')

In [7]:
# 매칭되는것이 없다. =>None
r = p.match('abcd5')
print(r)

None

In [9]:
r = p.match('5')
print(r)
if r :
    print(r.group(), '= 일치되는 데이터가 나온다. ')

<_sre.SRE_Match object; span=(0, 1), match='5'>
5 = 일치되는 데이터가 나온다.

In [ ]:
r = p.match( '123abcd' )
print( r )
if r:
    print( r.group(), '일치되는 데이터가 나온다' )
else:
    print('일치되는 데이터가 없다')

In [28]:
data = 'i am a Human. 2020 가나다라마바사 !@#$'
# 소문자만 잧아서 소문자 글자리스트를 리턴하라 
p = re.compile('[a-z]+')

In [ ]:
r = p.match( data )
# 매칭되는 실제값
r.group()

In [65]:
r = p.match(data)
print(r)

<_sre.SRE_Match object; span=(0, 1), match='i'>

In [31]:
r = p.findall(data)
print(r)

['i', 'am', 'a', 'uman']

In [63]:
r = p.finditer(data)

In [64]:
for n in r:
    print('실제값', '시작인덱스', '끝인덱스', '인덱스 튜플값')
    # 실제값, 시작인덱스, 끝인덱스, 인덱스 튜플값
    print( n.group(), n.start(), n.end(), n.span() )    
    
#     print('n.start(시작인덱스) = ',n.start())
#     print('n.end(끝인덱스)    = ',n.end())
#     print('n.span(인덱스튜플)  = ',n.span())
#     print('n.group(실제값)     = ',n.group())

실제값 시작인덱스 끝인덱스 인덱스 튜플값
i 0 1 (0, 1)
실제값 시작인덱스 끝인덱스 인덱스 튜플값
am 2 4 (2, 4)
실제값 시작인덱스 끝인덱스 인덱스 튜플값
a 5 6 (5, 6)
실제값 시작인덱스 끝인덱스 인덱스 튜플값
uman 8 12 (8, 12)

In [66]:
# 매치되는 부분을 다른문자로 변경 
p = re.compile( '(blue|red|white)' )

In [67]:
# 문자열 대체 
p.sub( '색상', 'white 케이크 그리고 ' )

'색상 케이크 그리고 '

In [72]:
test_txt[:20],len(test_txt)

('\nBTS (Korean: 방탄소년단;', 3981)

In [111]:
# 한글 
han = re.compile('[ㄱ-힣\n\;\:\,\.0-9\(\)\-\"\'\$\#]+')
# han = re.compile('[ㄱ-힣]+')

In [ ]:
# 문자 클래스내에 특수문자 표시앞에 \ 추가 해도 되고 빼도 된다.
# 아스키코드를 이용해 특수문자 값의 범위를 활용하여 제거가능 
# 비-영어권은 유니코드 혹은 완성 코드의 수치값 범위를 사용

In [114]:
han.sub('',test_txt[:80])
# 화이트 스테이스 \n가 보임 => 제거

'BTS Korean  RR Bangtan Sonyeondan also known as the Bangtan Boys is'

In [3]:
p = re.compile('(123)+')

In [1]:
import re

In [2]:
p = re.compile('(123)+')

In [15]:
p1 = re.compile('(2)+(22)+(222)+')

In [16]:
m1 = p1.search('2222 222222 111111 1111 check?')
m1

In [18]:
m1.group(),m1.group(0),m1.group(1)

('222', '222', '222')

In [19]:
m.group(),m.group(0),m.group(1)

('123123123123', '123123123123', '123')

In [12]:
m1.group(1),m1.group(2)

('2', '22')

In [17]:
m.group(1),m.group(2)

IndexError: no such group

In [16]:
m.group() = m.group(0)

'123123123123'

In [ ]:
m1.group(1),m1.group(2)

In [5]:
m1 = p1.search('121212  123123 122345 check?')
m1

In [4]:
m = p.search('123123123123 123123123 123123 123 12 1 check?')
m

In [54]:
m = p.search('123123 123123123 123123  1 check?')
m

In [31]:
m.group()

'123123'

In [32]:
len(m.group(0))

6

In [33]:
len(m.group(1))

3

In [36]:
m.group(2)

IndexError: no such group

In [6]:
for n in range(1, len(m.group(1))+1):
    print(n)
    #print(m.group(n))

1
2
3

In [9]:
#span=(0, 12)
for n in range(1, len(m.group())+1):
    print(n)
    #print(m.group(n))

0
1
2
3
4
5
6
7
8
9
10
11

In [15]:
m.group(1)

'123'

In [10]:
print(m.group(2))

IndexError: no such group

In [4]:
m.group(), m.group(0), m.group(1)

('123123123123', '123123123123', '123')

In [5]:
m.group(), m.group(0), m.group(1) ,m.group(2)

IndexError: no such group

In [126]:
m.group(), m.group(0), m.group(1) 
# 순서대로 나열 해야 되네 
# 아니면 오류남

('123123123', '123123123', '123')

In [127]:
m.group(2)

IndexError: no such group

** 정규식 기본 문법 **
    - 패턴은 그대로 매칭
    - 메타 문자 및 수량 한정자 적용
    - 그룹 및 look around기능을 사용하는경우

- m.group(0)
    - 매칭된 모든 문자열 
- m.group(1)
    - 첫번째 그룹의 문자열
- m.group(2)
    - 두번째 그룹의 문자열
- m.group(n)
    - n번째 그룹의 문자열

In [128]:
# 이표현대로 문장열을 표현한다면 ? 
p = re.compile(r'\w+\s+\d+[-]\d+[-]\d+')

In [129]:
m = p.search('부산역 010-1234-5268 abcd')

In [130]:
# 뭉텅이
m.group()

'부산역 010-1234-5268'

In [131]:
# 그룹이 없음 => 정규식에 그룹화 표현이 없다. 
m.groups()

'부산역 010-1234-5268'

In [132]:
m.group().split()[1].split('-')[1]

'1234'

In [ ]:
# 위의 방식은 정규식 자체가 그룹화 되지않아서 
# 세부 정보를 취할수가 없다 그룹화를 이용하면 
# 상세 정보를 그룹별로 취할수가 있어서 데이터를 확득하기 용이하다.

In [133]:
# 그룹화하기 
p = re.compile(r'(\w+)\s+(\d+[-]\d+[-]\d+)')
m = p.search('부산역 010-1234-5268 abcd')

In [137]:
m.groups(),m.group(1),m.group(2)

(('부산역', '010-1234-5268'), '부산역', '010-1234-5268')

In [151]:
# 연속수 => range 
# 반복한다 m.groups의 길이 +1 만큼 
# 출력한다 m.group(n)
for n in range(1, len(m.groups())+1):
    #print(n)
    print(m.group(n))

부산역
010-1234-5268
010
1234
5268

In [ ]:
# 그룹화하기 02
p = re.compile(r'(\w+)\s+((\d+)[-](\d+)[-](\d+))')
m = p.search('부산역 010-1234-5268')

# 전화번호 상세정보가 그룹화 되어있지 않다.
# 그룹안에 그룹화 처리를 하면 자동 분류가 된다.

In [152]:
for n in range(1, len(m.groups())+1):
    #print(n)
    print(m.group(n))

부산역
010-1234-5268
010
1234
5268

#### 그룹핑된 문자열의 재참조 
    - 그룹핑 => 지칭하는 표시 (\숫자:\1\2\3)
        - 첫번째 그룹 
        - 두번째 그룹 
        - 세번째 그룹

In [ ]:
# 단독된 단어 덩어리 \b

In [159]:
p = re.compile(r'(\b\w+)\s+\1') 
m = p.search('python numpy pandas pandas scipy tensoeflow')

In [160]:
m.group()

'pandas pandas'

In [161]:
m.groups()

('pandas',)

In [165]:
# 정규식 참조는 정규식 형태도 일치하면서, 값도 일치경우

In [166]:
p = re.compile(r'(\b\w+)\s+\1') 
m = p.search('python numpy pandas pandas pandas pandas')

In [163]:
m.group()

'pandas pandas'

In [164]:
m.groups()

('pandas',)

#### 그룹핑된 문자열 = > 네이밍 처리  

    - 이름 짓는 규칙 
        - ?P<이름>정규식
    - 자기참조 
        - (?P = 이름)

In [175]:
p = re.compile(r'(?P<Name>\w+)\s+((\d+)[-](\d+)[-](\d+))')
m = p.search('부산역 010-1234-5268')

In [176]:
m.group(1)

'부산역'

In [177]:
# 이름을 부여하면 순서를 몰라도 된다 
m.group('Name')

'부산역'

#### 자기 참조를 했는데 이름이 있다

In [180]:
# 자기참조 그룹의 이름으로 자기참조를 수행하는 방법 
# (?P = 이름)
p = re.compile(r'(?P<JH>\b\w+)\s+(?P=JH)') 
m = p.search('python numpy pandas pandas scipy tensoeflow')

In [181]:
m

In [ ]:
# 나머지는 목요일에 ...